{% extends 'base.html' %}

{% block content %}

<section style="padding-top: 120px; padding-bottom: 50px;">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5"> 
      <div class="text-center mb-4">
        <h2>Customer Registration</h2>
      </div>
      <div class="p-4 bg-light rounded shadow-sm"> 
        <form id="customer-registration-form" method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="profile_picture">Profile Picture</label>
            <input type="file" name="profile_picture" class="form-control" id="profile_picture">
            <small id="profile_picture_error" class="text-danger"></small>
          </div>

          <div class="mb-3">
            <label for="first_name">First Name</label>
            <input name="first_name" type="text" class="form-control" id="first_name" placeholder="First Name">
            <small id="first_name_error" class="text-danger"></small>
          </div>

          <div class="mb-3">
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Last Name">
            <small id="last_name_error" class="text-danger"></small>
          </div>

          <div class="mb-3">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="username">
            <small id="username_error" class="text-danger"></small>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="email">
            <small id="email_error" class="text-danger"></small>
          </div>

          <div class="mb-3 pass-field position-relative">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Create password">
            <i class="fa-solid fa-eye position-absolute" style="top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"></i>
          </div>
          <div>
            <button type="submit" id="register-btn" class="btn btn-dark w-100">Register</button>
            <small class="d-block mt-2 text-center">
              Existing User? <a href="{% url 'customer_login' %}" class="text-danger">Login Now</a>
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
