{% extends 'base.html' %}

{% block content %}

<section style="padding-top: 120px; padding-bottom: 50px;">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5">  <!-- narrower width -->
      <div class="text-center mb-4">
        <h2>Login</h2>
      </div>
      <div class="p-4 bg-light rounded shadow-sm"> <!-- grey background and shadow -->
        <form id="customer-login-form" method="post" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="mb-3 pass-field position-relative">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
            <i class="fa-solid fa-eye position-absolute" style="top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"></i>
          </div>
          <button type="submit" id="login-btn" class="btn btn-dark w-100">Login</button>
          <small class="d-block mt-2 text-center">
            New to ShoppinglyX? <a href="{% url 'customer_registration' %}" class="text-danger">Create an Account</a>
          </small>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
